.AlbumCard {
  display: flex;
  font-family: Outfit , sans-serif;
  margin-bottom: 20px;
}

.album-link {
  border-radius: 7px;
  color: white;
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.album-link:hover {
  background-color: var(--dark-grey);
  color: inherit;
}

.album-link:active {
  transform: scale(0.96);
  transition: 200ms;
}

.AlbumCard .image-container {
  border-radius: 5px;
  display: flex;
  height: 70px;
  width: 70px;
}

.AlbumCard img {
  border-radius: 5px;
}

.AlbumCard .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.AlbumCard .album-name {
  font-size: 0.9em;
  margin: 0;
}

.AlbumCard .artist-name {
  color: var(--disabled-grey);
  font-size: 0.8em;
  margin: 0;
}

.none {
  display: none;
}
